<div class="task1">
  <h2>Task 1:</h2>
  <button (click)="loadUsers()">Load Users</button>
  <div class="empty" *ngIf="beforeLoad == true">List is empty...</div>
  <div class="loading" *ngIf="usersLoading == true">Loading...</div>
  <div class="container" *ngIf="usersAreLoaded == true">
    <div class="person-container" *ngFor="let person of persons">
      <div class="person" [ngClass]="switchColors(person.status)" appBackground>
        <div class="full-name switch-black">{{ person.firstName + " " + person.lastName}}</div>
        <div class="about switch-black">{{ person.about }}</div>
        <div class="date-of-birth switch-black">{{ person.dateOfBirth | date: "yyyy" }}</div>
        <div class="status switch-black">{{ person.status }}</div>
      </div>
    </div>
  </div>
</div>
<div class="task2">
  <h2>Task 2:</h2>
  <app-square *ngFor="let square of squares;" [count]="squares"></app-square>
</div>


